<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Markus Lukk</title>
    <link rel="stylesheet" href="/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <header>
        <h1><a href="index.html" style="text-decoration: none; color: inherit;">Markus Lukk</a></h1>
        <nav>
            <a href="curiosities.html">Curiosities</a>
        </nav>
    </header>

    <div class="content">
        {{ content }}
    </div>
</body>
</html>
